@import "tailwindcss";
@plugin "daisyui/theme" {
  name: "plant-dark";
  default: false;
  prefersdark: false;
  color-scheme: "dark";
  --color-base-100: oklch(27% 0.046 192.524);
  --color-base-200: oklch(38% 0.063 188.416);
  --color-base-300: oklch(43% 0.078 188.216);
  --color-base-content: oklch(95% 0.051 180.801);
  --color-primary: oklch(70% 0.183 293.541);
  --color-primary-content: oklch(28% 0.141 291.089);
  --color-secondary: oklch(75% 0.183 55.934);
  --color-secondary-content: oklch(26% 0.079 36.259);
  --color-accent: oklch(85% 0.199 91.936);
  --color-accent-content: oklch(28% 0.066 53.813);
  --color-neutral: oklch(27% 0.046 192.524);
  --color-neutral-content: oklch(98% 0.014 180.72);
  --color-info: oklch(60% 0.126 221.723);
  --color-info-content: oklch(98% 0.019 200.873);
  --color-success: oklch(64% 0.2 131.684);
  --color-success-content: oklch(98% 0.031 120.757);
  --color-warning: oklch(64% 0.222 41.116);
  --color-warning-content: oklch(98% 0.016 73.684);
  --color-error: oklch(57% 0.245 27.325);
  --color-error-content: oklch(97% 0.013 17.38);
  --radius-selector: 1rem;
  --radius-field: 0.25rem;
  --radius-box: 0rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 1;
  --noise: 1;
}

@plugin "daisyui" {
  themes: light --default, plant-dark;
}

